@{
    ViewBag.Title = "Welcome to ASP.NET Single Page Application";
}

<script>
    $(document).ready(function () {

        var availableCategories = [];
        $.ajax({            
            url: "/api/CategoryName/get",
            dataType: 'json',
            success: function (returnData) {
                $.each(returnData, function (i, item) {
                    availableCategories.push(returnData[i]);
                });
                $('#categoryList').autocomplete({
                    source: availableCategories
                })
            }
        });


        $('#submitter').click(function () {
            console.log($('#kidFriendly').is(':checked'));
            var data = {
                location: $('#location').val(),                
                radius: $('#radius').val(),
                isKidFriendly: $('#kidFriendly').is(':checked'),
                generateSchedule: 'true'
            };
            console.log(data);
            $.ajax({                            
                url: "/api/Business/Get",
                data: data,
                dataType: 'json',
                success: function (returnData) {
                    var eventInfo = '';
                    $.each(returnData, function (i, item) {
                        eventInfo += '<li>'+returnData[i].Hour+ ' ' + returnData[i].Business.name+'</li>'
                    });
                    $('#eventHolder').html(eventInfo);
                }
            });
        });        

    });
</script>

<div style="width:300x; float:left; padding-right:50px;">
    <ul class="options">
        <li>
            <label for="location">
                Location 
            </label>
            <br />
            <input id="location" name="location" />
        </li>
        <li>
            <label for="radius">
                Radius 
            <label>
            <br />
            <select style="list-style-type:none" id="radius" name="radius">            
                <option value="5">
                     < 5
                </option>
                <option value="10">
                    10
                </option>
                <option value="25">
                    25
                </option>
                <option value="50">
                    50
                </option>
            </select>
        </li>
        @*<li>
            <label for="categoryList">
                Activity Type 
            </label>
            <br />
            <input id="categoryList" name="categoryList" />
        </li> *@   
        <li>
            <label for="kidFriendly">
                Kid Friendly
            </label>
            <br />
            <input id="kidFriendly" name="kidFriendly" type="checkbox"/>
        </li> 
    
    </ul>
    <input type="submit" id="submitter" value="search" />
</div>
<div style="width:200px; float:left;">
    <ul id="eventHolder">
    
    </ul>
</div>
<div style="clear:both">
    
</div>