<script type="text/javascript">
    $(document).ready(function () {
        $("#btnMain").live("click", function () {

            getInitialData();
        });

        function getInitialData() {
            navigator.geolocation.getCurrentPosition(function (pos) {

                $.getJSON("/api/MyDay/GetAll?lat=" + pos.coords.latitude + "&lon=" + pos.coords.longitude, function (data) {
                    //$("#myDay").html($("#BusinessTemplate").render(data));

                    for (var i = 0; i < 6; i++) {
                        setData(i, data[i], agenda.Business);
                    }

                });
            });

        }

        function setData(divIndex, agenda, currentBusiness) {

            $('<div class="timeSlot">Time: ' + agenda.TimeString + '\n\
            <div class="Business">\n\
            <div class="name"><b>' + currentBusiness.name + '</b></div>\n\
            <div class="call">' + currentBusiness.phone + '</div>\n\
            <button id="previous">Previous</button>\n\
            <button id="next" onClick="nextBusiness('+ divIndex + ',' + agenda + ',0)">Next</button>\n\
            <div class="remove">Remove Me</div></div><br /><br /></div>')
            .appendTo("#myDay")

        }

        function nextBusiness(divIndex, agenda, businessIndex) {
            //$("#myDay").children(1, ".timeSlot").hide();

            setData(agenda, agenda.AllOtherOptionsIntheSameCategory[index + 1])
        }

    });

</script>
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title"><a href="/">Make My Day</a></p>
        </div>
    </div>
</header>
<div id="body">
    <button id="btnMain">Make My Day</button>
</div>
<div id="myDay">
</div>
@*<script id="BusinessTemplate" type="text/x-jsrender">
    <div class="timeSlot">
        <span data-link="#index+1"></span>:
        Time: {{:TimeString}}
        <div class="Business">
            <div class="name"><b>{{:Business.name}}</b></div>
            <div class="call">{{:Business.phone}}</div>
            <button id="previous">Previous</button>
            <button id="next">Next</button>
            <div class="remove">Remove Me</div>
        </div>
        <br />
        <br />
    </div>
</script>*@